# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env
*.venv

# Django specific
*.log
db.sqlite3
/media/
staticfiles/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Pytest and coverage reports
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/

# VS Code
.vscode/
